.profile__persona-wrap {
  display: flex;
  align-items: center;
}

@media (max-width:768px) {
  .profile__persona-wrap {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 33px;
  }
}